[submodule "src/wrf_hydro_nwm"]
	path = src/wrf_hydro_nwm
	url = https://github.com/NCAR/wrf_hydro_nwm_public.git
	branch = master
[submodule "src/LISF"]
	path = src/LISF
	url = https://github.com/NASA-LIS/LISF.git
	branch = master
